@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue: #33A8DB;
  --linear-gradient: linear-gradient(180deg, #33A8DB%200%,%20#1472B7%20100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
}