.world-characters {
  width: 100%;
  max-width: 90rem;
  position: absolute;
}

.world-characters#top-characters {
  height: 100%;
  background-color: var(--character-top-image-color);
  bottom: -0.3rem;

  mask: var(--character-top-image-src) bottom / cover no-repeat;
  -webkit-mask: var(--character-top-image-src) bottom / cover no-repeat;
}

.world-characters#bottom-characters {
  height: 50rem;
  background-color: var(--character-bottom-image-color);
  top: .3rem;
  transform: rotateZ(180deg) scaleX(-1);
  position: relative;

  mask: var(--character-bottom-image-src) bottom / contain no-repeat;
  -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
}